<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
	<display-name>ALL the servlets</display-name>
	
	<servlet>
         <servlet-name>CalculatorServlet</servlet-name>
         <servlet-class>edu.upenn.cis.cis455.CalculatorServlet</servlet-class>
     </servlet>

     <servlet-mapping>
         <servlet-name>CalculatorServlet</servlet-name>
         <url-pattern>calculate/*</url-pattern>
     </servlet-mapping>
     
     <servlet>
         <servlet-name>TestServlet</servlet-name>
         <servlet-class>edu.upenn.cis.cis455.TestServlet</servlet-class>
     </servlet>

     <servlet-mapping>
         <servlet-name>TestServlet</servlet-name>
         <url-pattern>test/*</url-pattern>
     </servlet-mapping>
     
	 <context-param>
	    <param-name>server</param-name>
		<param-value>my455server</param-value>
	 </context-param>
</web-app>